/////////////////////////////
// SECTION STYLES

@mixin section-layout { //creates container for sections
    height: 100%;
    width: 100%;
    background-color: $color-dark;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 5rem;
}

@mixin section-heading { // positions section heading
    grid-column: 1/-1;
    text-align: center;
    justify-self: stretch;
    padding-bottom: 3rem;
    background-image: linear-gradient(rgba($color-dark, 1) 0%, rgba($color-dark, 1) 63%, rgba($color-dark,0) 100%);
    color: $color-base-x-dark;
    position: sticky;
    z-index: 2;
    top: 0;
}

@mixin section-content { // creates grid container for main content within a section (i.e. everything except the section heading)
    background-color: $color-dark;
    display: grid;
    grid-template-columns:  minmax(0rem, 1fr) 1fr 3fr minmax(0rem, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    align-items: center;
    justify-content: center;
}

@mixin section-content__quote { // sets styles and placement of section quote
    grid-column: 2/span 2;
    margin-bottom: 3rem;
    color: $color-base;
    text-align: center;
    font-size: 2rem;
    font-family: $font-code;
    margin-top: 0;
}

@mixin section-content__bullet-bg {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

@mixin section-content__bullet {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: $gradient-dark;
    border-radius: 50%;
    padding: 1.5rem 1rem;
    display: grid;
    text-align: center;
    align-content: center;
    color: $color-white-8;
}

/////////////////////////////
// GALLERY

@mixin gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; // this (combined with the other attributes) makes sure the image fits into the grid items without overflowing whilst keeping the aspect ratio correct
    display: block;
}

/////////////////////////////
// POSITIONING

@mixin center-element { // centres element within its parent. N.B. must set position on parent element
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/////////////////////////////
// VIDEO BG

@mixin bg-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .075;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //this is similar to background-size: cover. It will make the element (the video) fit the entire container whilst maintaining the aspect ratio. Anything that falls outside the parent element is automatically clipped.
    }
}
