/////////////////////////////
// SECTION STYLES

@mixin section-layout { //creates container for sections
    height: 100%;
    width: 100%;
    background-color: $color-dark;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 5rem;
}

@mixin section-heading { // positions and styles section headings
    grid-column: 1/-1;
    text-align: center;
    justify-self: stretch;
    padding-bottom: 3rem;
    background-image: linear-gradient(rgba($color-dark, 1) 0%, rgba($color-dark, 1) 63%, rgba($color-dark,0) 100%);
    color: $color-base-x-dark;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: .7rem;
    position: sticky;
    z-index: 2;
    top: 0;

    @media only screen and (max-width: $bp-xs) {
        font-size: 9vw;
    }
}

@mixin section-content { // creates grid container for main content within a section (i.e. everything except the section heading)
    background-color: $color-dark;
    display: grid;
    grid-template-columns:  minmax(0rem, 1fr) 20rem minmax(60ch, 90ch) minmax(0rem, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-md) {
        grid-template-columns: 1fr;
    }
}

@mixin section-content__quote { // sets styles and placement of section quote
    grid-column: 2/span 2;
    grid-row: 1/ span 1;
    margin-bottom: 3rem;
    color: $color-base;
    text-align: center;
    font-size: 2rem;
    font-family: $font-code;
    margin-top: 0;

    @media only screen and (max-width: $bp-md) {
        grid-column: 1 / span 1;
        margin-bottom: 2rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    @media only screen and (max-width: $bp-xs) {
        font-size: 1.8rem;
    }
}

@mixin section-content__bullet-bg {
    width: 100%;
    padding-top: 100%;
    position: relative;

    @media only screen and (max-width: $bp-md) {
        padding-top: 0;
    }
}

@mixin section-content__bullet {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: $gradient-dark;
    border-radius: 50%;
    padding: 1.5rem 1rem;
    display: grid;
    text-align: center;
    align-content: center;
    color: $color-white-8;

    @media only screen and (max-width: $bp-md) {
        height: auto;
        width: auto;
        border-radius: 0;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        display: flex;
        align-items: center;
        margin: 0 1rem 0 1rem;
        font-size: 2rem;
        text-align: left;
    }
}

@mixin section-content__bullet-number {
    line-height: 7rem;
    font-size: 5rem;
    font-weight: 300;

    @media only screen and (max-width: $bp-md) {
        line-height: 4rem;
        margin-right: 1.5rem;
    }

    @media only screen and (max-width: $bp-xs) {
        font-size: 4.5rem;
    }
}

@mixin section-content__explainer {
    width: 100%;
    height: auto;

    @media only screen and (max-width: $bp-md) {
        width: auto;
        margin: 0 2.5rem;
    }

    & p {
        color: $color-base;
        font-family: $font-code;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        & span {
            color: $color-base-x-dark;
            font-weight: 700;
        }

        & a:link, a:visited {
            color: $color-base-x-dark;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

//////////////////////////
// BULLET PLACEMENT

@mixin bullet-bg--1 {
    grid-row: 2/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 2 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin bullet-bg--2 {
    grid-row: 4/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 5 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin bullet-bg--3 {
    grid-row: 6/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 8 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin bullet-bg--4 {
    grid-row: 8/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 11/ span 1;
        grid-column: 1/span 1;
    }
}

@mixin bullet-bg--5 {
    grid-row: 10/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 14 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin bullet-bg--6 {
    grid-row: 12/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 17/ span 1;
        grid-column: 1/span 1;
    }
}

@mixin bullet-bg--7 {
    grid-row: 14/span 1;
    grid-column: 2/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 20 / span 1;
        grid-column: 1/span 1;
    }
}

/////////////////////////////
// EXPLAINER POSITION

@mixin explainer--1 {
    grid-row: 2/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 3/span 1;
        grid-column: 1/span 1;
    }
}

@mixin explainer--2 {
    grid-row: 4/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 6 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin explainer--3 {
    grid-row: 6/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 9 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin explainer--4 {
    grid-row: 8/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 12 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin explainer--5 {
    grid-row: 10/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 15 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin explainer--6 {
    grid-row: 12/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 18 / span 1;
        grid-column: 1/span 1;
    }
}

@mixin explainer--7 {
    grid-row: 14/span 1;
    grid-column: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 21 / span 1;
        grid-column: 1/span 1;
    }
}

/////////////////////////////
// SEPARATOR POSITION

@mixin separator--1 {
    grid-row: 3/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 4 / span 1;
    }
}

@mixin separator--2 {
    grid-row: 5/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 7 / span 1;
    }
}

@mixin separator--3 {
    grid-row: 7/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 10 / span 1;
    }
}

@mixin separator--4 {
    grid-row: 9/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 13 / span 1;
    }
}

@mixin separator--5 {
    grid-row: 11/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 16 / span 1;
    }
}

@mixin separator--6 {
    grid-row: 13/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 19 / span 1;
    }
}

@mixin separator--7 {
    grid-row: 15/span 1;

    @media only screen and (max-width: $bp-md) {
        grid-row: 22 / span 1;
    }
}

/////////////////////////////
// GALLERY

@mixin gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; // this (combined with the other attributes) makes sure the image fits into the grid items without overflowing whilst keeping the aspect ratio correct
    display: block;
}

/////////////////////////////
// POSITIONING

@mixin center-element { // centres element within its parent. N.B. must set position on parent element
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/////////////////////////////
// VIDEO BG

@mixin bg-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .075;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //this is similar to background-size: cover. It will make the element (the video) fit the entire container whilst maintaining the aspect ratio. Anything that falls outside the parent element is automatically clipped.
    }
}
