// RESPONSIVE BREAKPOINTS

$bp-lg: 67.5em; //1080px
$bp-md: 53.75em; //860px
$bp-sm: 47em; //752px

// FONTS

$font-tagline: 'Bungee', cursive;
$font-primary: 'Lato', sans-serif;
$font-code: 'Fira Code', monospace;

// COLOURS

$color-dark: #2b2d42; // space cadet
$color-light: #f6f6f6; // cultured
$color-white: #ffffff;
$color-white-8: rgba(255,255,255,.8);

$color-base-x-dark: #E3170A; // vermillion
$color-base-dark: #FC9D01; // orange peel
$color-base: #FFB901; // selective yellow
$color-base-light: #FFD801; // gold web golden
$color-base-x-light: #FDE900; // middle yellow

// GRADIENTS

// slightly transparent / high opacity

$gradient-full-h-o: linear-gradient(145deg, rgba($color-base-x-dark,.97) 10%, rgba($color-base-x-light,.97));
$gradient-dark-h-o: linear-gradient(145deg, rgba($color-base-x-dark,.97) 10%, rgba($color-base,.97));

// full opacity

$gradient-full: linear-gradient(145deg, rgba($color-base-x-dark, 1) 10%, rgba($color-base-x-light, 1)); //
$gradient-dark: linear-gradient(145deg, rgba($color-base-x-dark, 1) 10%, rgba($color-base, 1));
$gradient-dark-reverse: linear-gradient(145deg, rgba($color-base, 1) 10%, rgba($color-base-x-dark, 1));
$gradient-full-reverse: linear-gradient(145deg, rgba($color-base-x-light, 1) 10%, rgba($color-base-x-dark, 1));
    
// SHADOWS

$shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);
$shadow: 0 .5rem 1rem rgba(0,0,0,.15);
$shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);

// SEPARATORS

$separator-base-dashed: dashed 2px $color-base;
$separator-base-solid: solid 2px $color-base;
