.btn {
    cursor: pointer;
    transition: all .2s;
    
    &--primary {
        font-size: inherit;
        border-radius: .3rem;
        border: 1px solid $color-base;;
        padding: 1rem 3rem;
        box-shadow: $shadow;
        color: $color-white;
        background-color: $color-base;

        &:hover {
            box-shadow: $shadow-lg;
            background-blend-mode: darken;
            transform: scale(1.02);
        }

        &:active {
            box-shadow: $shadow-sm;
            background-blend-mode: darken;
            transform: scale(.99);
        }
    }
    
    &--danger {
        font-size: inherit;
        border-radius: .3rem;
        border: 1px solid $color-base-x-dark;;
        padding: 1rem 3rem;
        box-shadow: $shadow;
        color: $color-white;
        background-color: $color-base-x-dark;

        &:hover {
            box-shadow: $shadow-lg;
            background-blend-mode: darken;
            transform: scale(1.02);
        }

        &:active {
            box-shadow: $shadow-sm;
            background-blend-mode: darken;
            transform: scale(.99);
        }
    }

    &--squared-base {
        font-size: inherit;
        font-family: $font-code;
        border-radius: 0;
        border: solid 2px $color-base;
        color: $color-base;
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: $color-dark;

        &:hover {
            background-color: $color-base;
            border-color: $color-base-x-dark;
            color: $color-dark;
            font-weight: 500;
        }

        &:active {
            background-color: $color-base-dark;
            border-color: $color-base-x-dark;
            color: $color-dark;
            font-weight: 500;
        }
    }

    &--back-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 99;
        color: $color-base;
        padding: .25rem .5rem;
        line-height: 1;
        text-align: center;
        font-size: 4rem;

        @include respond($bp-md) {
            display: none;
        }
    }
}

.explainer-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 4rem;
}

.btn-group > .btn {

    &:not(:last-child) {
        margin-right: 2rem;
    }
}
