/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba($color-dark,.95);

    &__content {
        @include center-element;
        background-color: $color-white;
        border-radius: .3rem;
        padding: 2rem;
        width: 80vw;
        max-height: 80vh;
    }

    &__figure {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(min-content, calc(65vh - 4rem)) minmax(15vh, min-content);
        height: calc(80vh - 4rem);
    }

    &__close {
        position: absolute;
        top: 4.5rem;
        right: 4.5rem;
        color: $color-white-8;
        font-size: 5rem;
        line-height: 0;
        font-weight: bold;

        &:hover,
        &:focus {
            color: $color-white;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 65vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: .3rem;
        box-shadow: $shadow;
    }

    &__caption {
        text-align: center;
        letter-spacing: .1rem;
        font-size: 1.8rem;
        color: $color-dark;
        margin: 2rem auto 0 auto;
        max-width: 75ch;

        &--link,
        &--link:link,
        &--link:visited {
            color: $color-base-x-dark;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: $font-code;
        }
    }

    &__heading {
        text-align: center;
        font-size: 3rem;
        letter-spacing: .2rem;
        color: $color-dark;
        margin-bottom: 2rem;
    }
}
