.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-image: $gradient-dark;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: $shadow;
        text-align: center;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;

        @include respond(bp-xl) {
            top: 2rem;
            right: 2rem;
        }

        @include respond(bp-md) {
            top: 0;
            right: 0;
            border-radius: 0;
        }
    }

    &__bg {
        height: 100%;
        width: 0;
        position: fixed;
        left: 0;
        top: 0;
        border-radius: .5rem;
        background: $color-dark;
        z-index: 1000;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__nav {
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: opacity .4s cubic-bezier(0.68, -0.55, 0.265, 1.55) .15s, width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55) .15s;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }

    &__list {
        position:absolute;
        top:0;
        margin:auto;
        text-align:center;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        min-height:100vh;
        list-style: none;
        padding: 2rem 0;
    }

    &__item {
        margin: 1rem;
        position: relative;
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            letter-spacing: .4rem;
            color: $color-white;
            position: relative;
            z-index:1;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(to right, $color-base-x-dark, $color-base 50%, $color-white 50%);
            background-size: 200% 100%;
            background-position: -100%;
            transition: all 0.3s ease-in-out;
            white-space: nowrap; //prevents unwanted animation jump as nav enters screen (caused by section titles wrapping)

            &:before {
                display: block;
                content: '';
                width: 0;
                height: 3px;
                bottom: 5px;
                left: 0;
                bottom: -3px;
                z-index: 0;
                position: absolute;
                background-image: linear-gradient(to right, $color-base, $color-base-x-dark);
                transition: all 0.3s ease-in-out;
            }
            &:hover,
            &:active {
                background-position: 0%;
                &:before{
                    width:100%;
                }
            }

            @include respond(bp-xs) {
                font-size: 2.5rem;
            }
        }
    }

    // FUNCTIONALITY

    &__checkbox:checked ~ &__bg {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // ICON

    &__icon {
        width: 3rem;
        height: .3rem;
        background-color: $color-white-8;
        transition: all .2s;
        display: inline;

        &--1 {

        }

        &--2 {
            margin: .8rem 0;
        }

        &--3 {

        }
    }

    &__button:hover &__icon {
        background-color: $color-white;
    }

    &__button:hover &__icon--1 { // this is to make the lines of the hamburger separate slightly when we hove the button
        transform: translateY(-.2rem);
    }

    &__button:hover &__icon--3 { // this is to make the lines of the hamburger separate slightly when we hove the button
        transform: translateY(.2rem);
    }

    &__checkbox:checked + &__button &__icon--2 { // this says: when the checkbox is checked we select the direct sibling (using the "+") then we select its child (the icon)... removes the middle line from the burger to turn it into an x
        background-color: transparent;
        margin: 0;
        height: 0;
    }

    &__checkbox:checked + &__button &__icon--1 {

        transform: rotate(-135deg) translateY(-.2rem);
    }

    &__checkbox:checked + &__button &__icon--3 {

        transform: rotate(135deg) translateY(.2rem);
    }
}

.close { //no styles... added for JS functionality

}
