*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    &:focus-within { //if added direct to html smooth-scrolling will be applied to search results accessed via CTRL+F. This way smooth scroll is only enabled when focus is on the page itself.
        scroll-behavior: smooth;
    }

    @include respond(bp-lg) {
        font-size: 55%;
    }

    @include respond(bp-sm) {
        font-size: 50%;
    }

    @include respond(bp-xs) {
        font-size: 45%;
    }
}

body {
    font-family: $font-primary;
    color: $color-dark;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.6rem;
    position: relative;
}
