.continue {
    height: 330vh;
    position: relative;

    &__arrows {
        display: flex;
        position: relative;
        justify-content: space-around;

        &--left {
            width: 5vw;
            height: 7.5vh;
            background-color: $color-light;

            @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
                clip-path: polygon(20% 0%, 80% 0%, 80% 60%, 100% 60%, 50% 100%, 0% 60%, 20% 60%);
            }
        }

        &--center-left {
            width: 10vw;
            height: 15vh;
            background-color: $color-light;

            @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
                clip-path: polygon(20% 0%, 80% 0%, 80% 60%, 100% 60%, 50% 100%, 0% 60%, 20% 60%);
            }
        }

        &--center {
            width: 20vw;
            height: 30vh;
            background-color: $color-light;

            @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
                clip-path: polygon(20% 0%, 80% 0%, 80% 60%, 100% 60%, 50% 100%, 0% 60%, 20% 60%);
            }
        }

        &--center-right {
            width: 10vw;
            height: 15vh;
            background-color: $color-light;

            @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
                clip-path: polygon(20% 0%, 80% 0%, 80% 60%, 100% 60%, 50% 100%, 0% 60%, 20% 60%);
            }
        }

        &--right {
            width: 5vw;
            height: 7.5vh;
            background-color: $color-light;

            @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
                clip-path: polygon(20% 0%, 80% 0%, 80% 60%, 100% 60%, 50% 100%, 0% 60%, 20% 60%);
            }
        }
    }

    &__heading {
        text-align: center;
        color: $color-base-x-dark;
        position: sticky;
        z-index: 1;
        top: 50vh;
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: .7rem;

        @media only screen and (max-width: $bp-sm) {
            font-size: 8vw;
        }
    }

    &__grad {
        height: 330vh;
        width: 100vw;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba($color-dark, 0) 0%, rgba($color-dark, 0) 40%, rgba($color-dark, 1) 80%, rgba($color-dark, 1) 100%);
        position: absolute;
        z-index: 2;
    }
}
