.dev-mode {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    &__notice {
        text-align: center;
        color: $color-base-x-dark;
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: .7rem;
        opacity: 0;
    }
}

.devmode-section {
    position: relative;
    display: flex;
    height: 40rem;
    //justify-content: center;


    &__left {
        transform: skewY(-10deg);
        background-image: $gradient-full;
        transform: skewY(10deg) translateY(5rem);
        width: 50vw;
        height: 30rem;
        border: none;
    }

    &__right {
        display: flex;
        width: 50vw;
        height: 30rem;
        transform: skewY(-10deg) translateY(5rem);
        background-image: $gradient-full-reverse;
        border: none;
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        background-color: $color-light-8;
        padding: 2rem 2rem;
        border-radius: .3rem;
        height: 20rem;
    }

    &__text {
        color: $color-dark;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .4rem;
        //margin-bottom: 2.5rem;
    }

    &__instruction {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .4rem;

        & span {
            font-weight: 400;
            color: $color-base-x-dark;
        }
    }

    &__btn {
        position: relative;
        z-index: 3;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 3rem;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: .4rem;
        background-color: $color-base;
        color: $color-white;
        border-radius: .3rem;
        box-shadow: $shadow;

        &:hover {
            box-shadow: $shadow-lg;
            background-blend-mode: darken;
            transform: scale(1.02);
        }

        &:active {
            box-shadow: $shadow-sm;
            background-blend-mode: darken;
            transform: scale(.99);
        }
    }
}
