.header {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: [header-start] minmax(6rem, 1fr) [header-center-start] 5fr [header-center-end] minmax(6rem, 1fr) [header-end];
    
    position: relative;
    background-image: $gradient-full-h-o, url(../../img/backgrounds/art-tools.png);
    background-size: cover;
    background-position: top;
    padding: 10rem 0;
    color: $color-white;

    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {

        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

        @media only screen and (max-width: $bp-sm) {
            clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
        }

        @media only screen and (max-width: $bp-xs) {
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        }
    }

    @media only screen and (max-width: $bp-xl) {
        grid-template-columns: [header-start] 7rem [header-center-start] 5fr [header-center-end] 7rem [header-end];
    }

    @media only screen and (max-width: $bp-sm) {
        padding: 10rem 0 7rem 0;
    }

    @media only screen and (max-width: $bp-xs) {
        padding: 10rem 0 4rem 0;
    }

    &__logo-holder {
        position: absolute;
        top: 1rem;
        left: 2rem;
        margin-bottom: 0;
        line-height: 0;

        @media only screen and (max-width: $bp-xl) {
            left: 1rem;
        }

        @media only screen and (max-width: $bp-xs) {
            top: .5rem;
            left: .5rem;
        }
    }

    &__logo {
        position: relative;
        width: 8rem;
        height: 8rem;

        @media only screen and (max-width: $bp-md) {
            width: 7rem;
            height: 7rem;
        }
    }

}

.header-content {
    grid-column: header-start / header-end;
    
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: minmax(6rem, 1fr) repeat(5,1fr) minmax(6rem, 1fr);

    @media only screen and (max-width: $bp-xl) {
        grid-template-columns: 7rem repeat(5,1fr) 7rem;
    }
    
    @media only screen and (max-width: $bp-md) {
        grid-template-columns: 2rem repeat(5,1fr) 2rem;
    }

    &__title {
        grid-row: 1;
        grid-column: 2 / 6;
        margin-bottom: 2.5rem;
        font-family: $font-tagline;
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: .7rem;
        text-shadow: .3rem .3rem $color-base;
        animation-name: fadeInTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @media only screen and (max-width: $bp-xl) {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-lg) {
            margin-bottom: 1.5rem;
        }

        @media only screen and (max-width: $bp-md) {
            grid-column: 2 / 7;
        }

        @media only screen and (max-width: $bp-sm) {
            text-shadow: 2px 2px $color-base;
            font-size: 8vw;
        }

        @media only screen and (max-width: $bp-xs) {
            font-size: 9vw;
        }
    }

    &__subtitle {
        grid-row: 2;
        grid-column: 2/6;
        font-family: $font-primary;
        margin-bottom: 2.5rem;
        font-size: 2rem;
        letter-spacing: .5rem;
        font-weight: 300;
        max-width: 90ch;
        animation-name: fadeInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @media only screen and (max-width: $bp-sm) {
            grid-column: 2/7;
            font-size: 3.5vw;
        }

        @media only screen and (max-width: $bp-xs) {
            font-size: 4vw;
        }
    }

    &__image {
        grid-row: 1/span 2;
        grid-column: 6 / -1;
        width: 100%;
        height: auto;
        align-self: center;
        animation-name: fadeInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @media only screen and (max-width: $bp-xl) {
            grid-row: 1 / span 1;
            grid-column: 5 / -1;
            align-self: start;
            justify-self: end;
            width: 75%;
        }

        @media only screen and (max-width: $bp-sm) {
            margin-top: 3rem;
        }

        @media only screen and (max-width: $bp-xs) {
            margin-top: 0;
            align-self: center;
        }
    }

    &__button {
        grid-row: 3;
        grid-column: 2;

    }
}
