.newsletter {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: minmax(6rem, 1fr) 3fr minmax(6rem, 1fr);
    padding: 22rem 0 7rem 0;
    margin-top: -15rem;
    background-color: $color-white;
    background-image: url(../../img/Undraw/mailbox.svg);
    background-position: left center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 20% auto;

    @include respond(bp-xl) {
        padding-top: 19rem;
    }

    @include respond(bp-lg) {
        grid-template-columns: 6rem 1fr 6rem;
        padding-top: 18rem;
        background-image: none;
    }

    @include respond(bp-sm) {
        grid-template-columns: 1fr;
    }

    &__card {
        grid-column: 2/span 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-light;
        text-align: center;
        padding: 3rem 2rem;
        border-radius: 3px;
        position: relative;

        @include respond(bp-lg) {
            &::before {
                content: "";
                background-image: url(../../img/Undraw/mailbox.svg);
                background-size: 35% auto;
                background-repeat: no-repeat;
                background-position: right bottom;
                opacity: .1;
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                width: auto;
                height:auto;
                z-index: 0;

                @include respond(bp-md) {
                    background-size: 45% auto;
                }

                @include respond(bp-sm) {
                    background-size: 50% auto;
                    background-position: right center;
                }
            }
        }

        @include respond(bp-sm) {
            margin: 0 1.5rem;
            padding: 2rem 1rem;
        }
    }

    &__title {
        font-size: 3rem;
        font-family: $font-primary;
        letter-spacing: .4rem;
        font-weight: 300;
        color: $color-dark;
        margin-bottom: 2.5rem;
        z-index: 1;

        @include respond(bp-xl) {
            font-size: 2.5rem;
        }

        @include respond(bp-xs) {
            letter-spacing: .3rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        color: $color-dark;
        margin-bottom: 1.5rem;
        z-index: 1;

        @include respond(bp-lg) {
            font-size: 1.6rem;
        }
    }

    &__form {
        z-index: 1;
    }
}

.sign-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    &__input-group {

    }

    &__input {
        font-size: inherit;
        color: $color-dark;
        padding: 1rem;
        border: 1px solid $color-base;
        border-radius: .3rem;
        margin-right: 1rem;
        background-color: $color-white;

        &:focus {
            outline: none;
            background-color: $color-base;
            color: $color-white;
            border: 1px solid $color-dark;

            &::placeholder {
                color: $color-dark;
            }
        }
    }

    &__label {
        display: block;
        margin-left: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        transition: all .2s;
        padding-bottom: 0;
        text-align: left;
        color: $color-dark-8;
    }

    &__input:placeholder-shown ~ &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__btn {
        //margin-bottom: 2.4rem;
    }
}
